<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form hidden="hidden" method="post">
		<!-- <input type="text" id="haveLogin" value=0 hidden="hidden">
		<input type="text" id="loginS" value=0 hidden="hidden">
		<input type="text" id="ResS" value=0 hidden="hidden">
		<input type="text" id="username" value= hidden="hidden"> -->
		<input type="submit" id="post" hidden="hidden">
	</form>
	<script type="text/javascript">
		var t = setTimeout("jump()",1000);
		function jump(){
			document.getElementById("post").click();
		}
					
	
	</script>
</body>
</html>